<!-- templates/code_input.html -->

{% extends "base.html" %}

{% block title %}
  - Code Input
{% endblock title %}

{% block content %}
<style>
  .code {
    min-height: calc(100% - 4em);
    min-width: calc(100% - 4em);
  }
</style>

<form>
  <textarea
    class="code"
    name="code"
    placeholder="Paste your Python code here"
  >{{ code }}
  </textarea>
  <div class="controls">
    <button formmethod="post" formaction="{{ url_for('reset_session') }}">
      Reset Session ♻️
    </button>
    <button formmethod="post" formaction="{{ url_for('save_style') }}">
      Next ➡️
    </button>

  </div>
</form>
{% endblock content %}
